<div class="container">
  <div class="card">
    <div class="card-header">
      <img src="https://images.pexels.com/photos/1267700/pexels-photo-1267700.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="rover" />
    </div>
    <div class="card-body">
      <h4>
        Ambev
      </h4>
      <p>
        Empresa distribuidora.
      </p>
      <div class="user">
        <img src="https://images.pexels.com/photos/1437554/pexels-photo-1437554.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="user" />
        <div class="user-info">
          <h5>Marcelo</h5>
          <small>Parceiro desde ... </small>
        </div>
      </div>
    </div>
  </div>
</div>


